@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-bg: #0D0D0D;
  --color-card: #1A1A1A;
  --color-text: #FFFFFF;
  --color-text-muted: #A3A3A3;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

